---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Kernel__Query($var_query: String!, $var_first: Int!)
        {\n  search(query: $var_query, type: REPOSITORY, first: $var_first) {\n    repositoryCount\n    nodes
        {\n      __typename\n      ... on Repository {\n        isArchived\n        nameWithOwner\n        isMirror\n      }\n    }\n  }\n}","variables":{"var_query":"repo:rails/rails
        repo:rails/journey","var_first":50},"operationName":"Kernel__Query"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer github-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1653303524'
      X-Ratelimit-Used:
      - '73'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"search":{"repositoryCount":2,"nodes":[{"__typename":"Repository","isArchived":false,"nameWithOwner":"rails/rails","isMirror":false},{"__typename":"Repository","isArchived":true,"nameWithOwner":"rails/journey","isMirror":false}]}}}'
  recorded_at: Mon, 23 May 2022 10:23:51 GMT
recorded_with: VCR 6.1.0
