---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Bundler__Alive__Client__GithubGraphql__Query($var_query:
        String!, $var_first: Int!) {\n  search(query: $var_query, type: REPOSITORY,
        first: $var_first) {\n    repositoryCount\n    nodes {\n      __typename\n      ...
        on Repository {\n        isArchived\n        nameWithOwner\n        isMirror\n      }\n    }\n  }\n}","variables":{"var_query":"repo:JackC/tod","var_first":50},"operationName":"Bundler__Alive__Client__GithubGraphql__Query"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer github-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1653711917'
      X-Ratelimit-Used:
      - '24'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"search":{"repositoryCount":1,"nodes":[{"__typename":"Repository","isArchived":false,"nameWithOwner":"jackc/tod","isMirror":false}]}}}'
  recorded_at: Sat, 28 May 2022 03:59:03 GMT
recorded_with: VCR 6.1.0
