/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
vendor/bundle/

.idea
.ruby-version
.ruby-gemset
.rspec_status

Gemfile.lock
result.toml
spec/fixtures/files/result.toml.org
bundler-alive-*.gem
