---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab-omniauth-openid-connect
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer gitlab-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2de9f6efffd6f6f9dccc22fcf09c4b3a"
      Gitlab-Lb:
      - fe-12-lb-gprd
      Gitlab-Sv:
      - gke-cny-api
    body:
      encoding: ASCII-8BIT
      string: '{"id":26130408,"description":"Fork of https://github.com/m0n9oose/omniauth_openid_connect","name":"GitLab
        OmniAuth OpenID Connect","name_with_namespace":"GitLab.org / GitLab OmniAuth
        OpenID Connect","path":"gitlab-omniauth-openid-connect","path_with_namespace":"gitlab-org/gitlab-omniauth-openid-connect","created_at":"2021-04-24T00:10:03.559Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:gitlab-org/gitlab-omniauth-openid-connect.git","http_url_to_repo":"https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect.git","web_url":"https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect","readme_url":"https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect/-/blob/master/README.md","avatar_url":null,"forks_count":4,"star_count":1,"last_activity_at":"2022-05-21T02:59:47.753Z","namespace":{"id":9970,"name":"GitLab.org","path":"gitlab-org","kind":"group","full_path":"gitlab-org","parent_id":null,"avatar_url":"/uploads/-/system/group/avatar/9970/project_avatar.png","web_url":"https://gitlab.com/groups/gitlab-org"},"container_registry_image_prefix":"registry.gitlab.com/gitlab-org/gitlab-omniauth-openid-connect","_links":{"self":"https://gitlab.com/api/v4/projects/26130408","issues":"https://gitlab.com/api/v4/projects/26130408/issues","merge_requests":"https://gitlab.com/api/v4/projects/26130408/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/26130408/repository/branches","labels":"https://gitlab.com/api/v4/projects/26130408/labels","events":"https://gitlab.com/api/v4/projects/26130408/events","members":"https://gitlab.com/api/v4/projects/26130408/members","cluster_agents":"https://gitlab.com/api/v4/projects/26130408/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"public","resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2021-04-25T00:10:03.595Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":64248,"import_status":"finished","open_issues_count":3,"ci_default_git_depth":50,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"public_jobs":true,"build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","build_coverage_regex":null,"ci_config_path":"","shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"runner_token_expiration_interval":null,"approvals_before_merge":0,"mirror":false,"external_authorization_classification_label":"","marked_for_deletion_at":null,"marked_for_deletion_on":null,"requirements_enabled":true,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"issues_template":null,"merge_requests_template":null,"merge_pipelines_enabled":false,"merge_trains_enabled":false,"permissions":{"project_access":null,"group_access":null}}'
  recorded_at: Sat, 21 May 2022 12:00:00 GMT
recorded_with: VCR 6.1.0
