---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=repo:rails/journey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1651896292'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"id":2305307,"node_id":"MDEwOlJlcG9zaXRvcnkyMzA1MzA3","name":"journey","full_name":"rails/journey","private":false,"owner":{"login":"rails","id":4223,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQyMjM=","avatar_url":"https://avatars.githubusercontent.com/u/4223?v=4","gravatar_id":"","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com/users/rails/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rails/subscriptions","organizations_url":"https://api.github.com/users/rails/orgs","repos_url":"https://api.github.com/users/rails/repos","events_url":"https://api.github.com/users/rails/events{/privacy}","received_events_url":"https://api.github.com/users/rails/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/rails/journey","description":"A
        router for rails","fork":false,"url":"https://api.github.com/repos/rails/journey","forks_url":"https://api.github.com/repos/rails/journey/forks","keys_url":"https://api.github.com/repos/rails/journey/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rails/journey/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rails/journey/teams","hooks_url":"https://api.github.com/repos/rails/journey/hooks","issue_events_url":"https://api.github.com/repos/rails/journey/issues/events{/number}","events_url":"https://api.github.com/repos/rails/journey/events","assignees_url":"https://api.github.com/repos/rails/journey/assignees{/user}","branches_url":"https://api.github.com/repos/rails/journey/branches{/branch}","tags_url":"https://api.github.com/repos/rails/journey/tags","blobs_url":"https://api.github.com/repos/rails/journey/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rails/journey/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rails/journey/git/refs{/sha}","trees_url":"https://api.github.com/repos/rails/journey/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rails/journey/statuses/{sha}","languages_url":"https://api.github.com/repos/rails/journey/languages","stargazers_url":"https://api.github.com/repos/rails/journey/stargazers","contributors_url":"https://api.github.com/repos/rails/journey/contributors","subscribers_url":"https://api.github.com/repos/rails/journey/subscribers","subscription_url":"https://api.github.com/repos/rails/journey/subscription","commits_url":"https://api.github.com/repos/rails/journey/commits{/sha}","git_commits_url":"https://api.github.com/repos/rails/journey/git/commits{/sha}","comments_url":"https://api.github.com/repos/rails/journey/comments{/number}","issue_comment_url":"https://api.github.com/repos/rails/journey/issues/comments{/number}","contents_url":"https://api.github.com/repos/rails/journey/contents/{+path}","compare_url":"https://api.github.com/repos/rails/journey/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rails/journey/merges","archive_url":"https://api.github.com/repos/rails/journey/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rails/journey/downloads","issues_url":"https://api.github.com/repos/rails/journey/issues{/number}","pulls_url":"https://api.github.com/repos/rails/journey/pulls{/number}","milestones_url":"https://api.github.com/repos/rails/journey/milestones{/number}","notifications_url":"https://api.github.com/repos/rails/journey/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rails/journey/labels{/name}","releases_url":"https://api.github.com/repos/rails/journey/releases{/id}","deployments_url":"https://api.github.com/repos/rails/journey/deployments","created_at":"2011-09-01T01:43:56Z","updated_at":"2022-02-13T20:44:08Z","pushed_at":"2017-09-01T21:31:03Z","git_url":"git://github.com/rails/journey.git","ssh_url":"git@github.com:rails/journey.git","clone_url":"https://github.com/rails/journey.git","svn_url":"https://github.com/rails/journey","homepage":"","size":662,"stargazers_count":221,"watchers_count":221,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":58,"mirror_url":null,"archived":true,"disabled":false,"open_issues_count":6,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":58,"open_issues":6,"watchers":221,"default_branch":"master","score":1.0}]}'
  recorded_at: Sat, 07 May 2022 04:03:52 GMT
recorded_with: VCR 6.1.0
