---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/ast.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"f4fce56c74ca82da8b2f269e6f04e058"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ast","downloads":227105172,"version":"2.4.2","version_created_at":"2021-01-23T18:56:53.214Z","version_downloads":60942164,"platform":"ruby","authors":"whitequark","info":"A
        library for working with Abstract Syntax Trees.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"1e280232e6a33754cde542bc5ef85520b74db2aac73ec14acef453784447cc12","project_uri":"https://rubygems.org/gems/ast","gem_uri":"https://rubygems.org/gems/ast-2.4.2.gem","homepage_uri":"https://whitequark.github.io/ast/","wiki_uri":"","documentation_uri":"http://whitequark.github.io/ast","mailing_list_uri":"","source_code_uri":"https://github.com/whitequark/ast","bug_tracker_uri":"https://github.com/whitequark/ast/issues","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bacon","requirements":"~\u003e
        1.2"},{"name":"bacon-colored_output","requirements":"\u003e= 0"},{"name":"coveralls","requirements":"~\u003e
        0.8.23"},{"name":"kramdown","requirements":"\u003e= 0"},{"name":"rake","requirements":"~\u003e
        12.3"},{"name":"simplecov","requirements":"\u003e= 0"},{"name":"yard","requirements":"\u003e=
        0"}],"runtime":[]}}'
  recorded_at: Sat, 07 May 2022 02:11:32 GMT
recorded_with: VCR 6.1.0
