---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/ast.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"84d8ed829d29f76806bb5e67f5601d15"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ast","downloads":230862245,"version":"2.4.2","version_created_at":"2021-01-23T18:56:53.214Z","version_downloads":63965671,"platform":"ruby","authors":"whitequark","info":"A
        library for working with Abstract Syntax Trees.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"1e280232e6a33754cde542bc5ef85520b74db2aac73ec14acef453784447cc12","project_uri":"https://rubygems.org/gems/ast","gem_uri":"https://rubygems.org/gems/ast-2.4.2.gem","homepage_uri":"https://whitequark.github.io/ast/","wiki_uri":"","documentation_uri":"http://whitequark.github.io/ast","mailing_list_uri":"","source_code_uri":"https://github.com/whitequark/ast","bug_tracker_uri":"https://github.com/whitequark/ast/issues","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bacon","requirements":"~\u003e
        1.2"},{"name":"bacon-colored_output","requirements":"\u003e= 0"},{"name":"coveralls","requirements":"~\u003e
        0.8.23"},{"name":"kramdown","requirements":"\u003e= 0"},{"name":"rake","requirements":"~\u003e
        12.3"},{"name":"simplecov","requirements":"\u003e= 0"},{"name":"yard","requirements":"\u003e=
        0"}],"runtime":[]}}'
  recorded_at: Sun, 22 May 2022 10:54:26 GMT
- request:
    method: head
    uri: https://github.com/whitequark/ast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"bb373bc39ae525acd2d0242e71fd5ef6"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 May 2022 10:54:27 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/journey.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"d53261b78c86972c21fa2479b6385d18"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"journey","downloads":29365233,"version":"1.0.4","vers[...]
- request:
    method: head
    uri: http://github.com/rails/journey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://github.com/rails/journey
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 May 2022 10:54:27 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/parallel.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"81695a6e9e3b4aa365e8fe6718e3290b"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"parallel","downloads":248497000,"version":"1.22.1","v[...]
- request:
    method: head
    uri: https://github.com/grosser/parallel/tree/v1.22.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"2799ba9783c5dd3af0ab1476bc3afb70"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 May 2022 10:54:28 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/parser.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.203.190.11:443
      Etag:
      - '"5a072bfa98706c040b2fe80a330b74e9"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"parser","downloads":249654598,"version":"3.1.2.0","ver[...]
- request:
    method: head
    uri: https://github.com/whitequark/parser/tree/v3.1.2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"89d5fdd1f5a16c43d3266f0bd5e33518"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 May 2022 10:54:29 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rainbow.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"9560acc797c21d035264ec710ebe6345"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rainbow","downloads":235618024,"version":"3.1.1","version_created_at":"2022-01-11T09:11:07.407Z","version_downloads":15342589,"platform":"ruby","authors":"Marcin
        Kulik, Olle Jonsson","info":"Colorize printed text on ANSI terminals","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"039491aa3a89f42efa1d6dec2fc4e62ede96eb6acd95e52f1ad581182b79bc6a","project_uri":"https://rubygems.org/gems/rainbow","gem_uri":"https://rubygems.org/gems/rainbow-3.1.1.gem","homepage_uri":"https://github.com/sickill/rainbow","wiki_uri":"","documentation_uri":"https://www.rubydoc.info/gems/rainbow/3.1.1","mailing_list_uri":"","source_code_uri":"http://github.com/sickill/rainbow","bug_tracker_uri":"","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        1.3, \u003c 3"}],"runtime":[]}}'
  recorded_at: Sun, 22 May 2022 10:54:30 GMT
- request:
    method: head
    uri: http://github.com/sickill/rainbow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://github.com/sickill/rainbow
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 May 2022 10:54:30 GMT
recorded_with: VCR 6.1.0
