---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/ast.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"f32f68a9bfe8a2611721d232e3f402d0"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ast","downloads":228529247,"version":"2.4.2","version_created_at":"2021-01-23T18:56:53.214Z","version_downloads":62088301,"platform":"ruby","authors":"whitequark","info":"A
        library for working with Abstract Syntax Trees.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"1e280232e6a33754cde542bc5ef85520b74db2aac73ec14acef453784447cc12","project_uri":"https://rubygems.org/gems/ast","gem_uri":"https://rubygems.org/gems/ast-2.4.2.gem","homepage_uri":"https://whitequark.github.io/ast/","wiki_uri":"","documentation_uri":"http://whitequark.github.io/ast","mailing_list_uri":"","source_code_uri":"https://github.com/whitequark/ast","bug_tracker_uri":"https://github.com/whitequark/ast/issues","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bacon","requirements":"~\u003e
        1.2"},{"name":"bacon-colored_output","requirements":"\u003e= 0"},{"name":"coveralls","requirements":"~\u003e
        0.8.23"},{"name":"kramdown","requirements":"\u003e= 0"},{"name":"rake","requirements":"~\u003e
        12.3"},{"name":"simplecov","requirements":"\u003e= 0"},{"name":"yard","requirements":"\u003e=
        0"}],"runtime":[]}}'
  recorded_at: Thu, 12 May 2022 23:38:50 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bundle-alive.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: This rubygem could not be found.
  recorded_at: Thu, 12 May 2022 23:38:50 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/journey.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"3a357037b452399a2ea87dcf437d2ebb"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"journey","downloads":29350971,"version":"1.0.4","versi[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/parallel.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"a51c1075a6a44df6ec14b4fba4eb6530"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"parallel","downloads":245984588,"version":"1.22.1","v[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/parser.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"7ddafa704098563a009a8b91feb112d8"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"parser","downloads":247191982,"version":"3.1.2.0","ver[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rainbow.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"17c664a93b89dfe5c23f3b41e706217d"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rainbow","downloads":233244545,"version":"3.1.1","version_created_at":"2022-01-11T09:11:07.407Z","version_downloads":14324139,"platform":"ruby","authors":"Marcin
        Kulik, Olle Jonsson","info":"Colorize printed text on ANSI terminals","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"039491aa3a89f42efa1d6dec2fc4e62ede96eb6acd95e52f1ad581182b79bc6a","project_uri":"https://rubygems.org/gems/rainbow","gem_uri":"https://rubygems.org/gems/rainbow-3.1.1.gem","homepage_uri":"https://github.com/sickill/rainbow","wiki_uri":"","documentation_uri":"https://www.rubydoc.info/gems/rainbow/3.1.1","mailing_list_uri":"","source_code_uri":"http://github.com/sickill/rainbow","bug_tracker_uri":"","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        1.3, \u003c 3"}],"runtime":[]}}'
  recorded_at: Thu, 12 May 2022 23:38:51 GMT
recorded_with: VCR 6.1.0
