---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.203.190.11:443
      Etag:
      - '"37432b73bf2ad8176b3860ecbbf1f1e1"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails","downloads":346440772,"version":"7.0.2.4","version_created_at":"2022-04-26T19:33:25.138Z","version_downloads":156515,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v7.0.2.4","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v7.0.2.4","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v7.0.2.4/","rubygems_mfa_required":"true"},"yanked":false,"sha":"5eee151313cdb86365bdeb65f61ad012c2fa2e86df03b0cf4484a2e5eee5a601","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-7.0.2.4.gem","homepage_uri":"https://rubyonrails.org","wiki_uri":null,"documentation_uri":"https://api.rubyonrails.org/v7.0.2.4/","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","source_code_uri":"https://github.com/rails/rails/tree/v7.0.2.4","bug_tracker_uri":"https://github.com/rails/rails/issues","changelog_uri":"https://github.com/rails/rails/releases/tag/v7.0.2.4","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        7.0.2.4"},{"name":"actionmailbox","requirements":"= 7.0.2.4"},{"name":"actionmailer","requirements":"=
        7.0.2.4"},{"name":"actionpack","requirements":"= 7.0.2.4"},{"name":"actiontext","requirements":"=
        7.0.2.4"},{"name":"actionview","requirements":"= 7.0.2.4"},{"name":"activejob","requirements":"=
        7.0.2.4"},{"name":"activemodel","requirements":"= 7.0.2.4"},{"name":"activerecord","requirements":"=
        7.0.2.4"},{"name":"activestorage","requirements":"= 7.0.2.4"},{"name":"activesupport","requirements":"=
        7.0.2.4"},{"name":"bundler","requirements":"\u003e= 1.15.0"},{"name":"railties","requirements":"=
        7.0.2.4"}]}}'
  recorded_at: Sat, 07 May 2022 01:49:47 GMT
recorded_with: VCR 6.1.0
