---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=repo:grosser/parallel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1651889774'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"id":275303,"node_id":"MDEwOlJlcG9zaXRvcnkyNzUzMDM=","name":"parallel","full_name":"grosser/parallel","private":false,"owner":{"login":"grosser","id":11367,"node_id":"MDQ6VXNlcjExMzY3","avatar_url":"https://avatars.githubusercontent.com/u/11367?v=4","gravatar_id":"","url":"https://api.github.com/users/grosser","html_url":"https://github.com/grosser","followers_url":"https://api.github.com/users/grosser/followers","following_url":"https://api.github.com/users/grosser/following{/other_user}","gists_url":"https://api.github.com/users/grosser/gists{/gist_id}","starred_url":"https://api.github.com/users/grosser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/grosser/subscriptions","organizations_url":"https://api.github.com/users/grosser/orgs","repos_url":"https://api.github.com/users/grosser/repos","events_url":"https://api.github.com/users/grosser/events{/privacy}","received_events_url":"https://api.github.com/users/grosser/received_events","type":"User","site_admin":false},"html_url":"https://github.com/grosser/parallel","description":"Ruby:
        parallel processing made simple and fast","fork":false,"url":"https://api.github.com/repos/grosser/parallel","forks_url":"https://api.github.com/repos/grosser/parallel/forks","keys_url":"https://api.github.com/repos/grosser/parallel/keys{/key_id}","collaborators_url":"https://api.github.com/repos/grosser/parallel/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/grosser/parallel/teams","hooks_url":"https://api.github.com/repos/grosser/parallel/hooks","issue_events_url":"https://api.github.com/repos/grosser/parallel/issues/events{/number}","events_url":"https://api.github.com/repos/grosser/parallel/events","assignees_url":"https://api.github.com/repos/grosser/parallel/assignees{/user}","branches_url":"https://api.github.com/repos/grosser/parallel/branches{/branch}","tags_url":"https://api.github.com/repos/grosser/parallel/tags","blobs_url":"https://api.github.com/repos/grosser/parallel/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/grosser/parallel/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/grosser/parallel/git/refs{/sha}","trees_url":"https://api.github.com/repos/grosser/parallel/git/trees{/sha}","statuses_url":"https://api.github.com/repos/grosser/parallel/statuses/{sha}","languages_url":"https://api.github.com/repos/grosser/parallel/languages","stargazers_url":"https://api.github.com/repos/grosser/parallel/stargazers","contributors_url":"https://api.github.com/repos/grosser/parallel/contributors","subscribers_url":"https://api.github.com/repos/grosser/parallel/subscribers","subscription_url":"https://api.github.com/repos/grosser/parallel/subscription","commits_url":"https://api.github.com/repos/grosser/parallel/commits{/sha}","git_commits_url":"https://api.github.com/repos/grosser/parallel/git/commits{/sha}","comments_url":"https://api.github.com/repos/grosser/parallel/comments{/number}","issue_comment_url":"https://api.github.com/repos/grosser/parallel/issues/comments{/number}","contents_url":"https://api.github.com/repos/grosser/parallel/contents/{+path}","compare_url":"https://api.github.com/repos/grosser/parallel/compare/{base}...{head}","merges_url":"https://api.github.com/repos/grosser/parallel/merges","archive_url":"https://api.github.com/repos/grosser/parallel/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/grosser/parallel/downloads","issues_url":"https://api.github.com/repos/grosser/parallel/issues{/number}","pulls_url":"https://api.github.com/repos/grosser/parallel/pulls{/number}","milestones_url":"https://api.github.com/repos/grosser/parallel/milestones{/number}","notifications_url":"https://api.github.com/repos/grosser/parallel/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/grosser/parallel/labels{/name}","releases_url":"https://api.github.com/repos/grosser/parallel/releases{/id}","deployments_url":"https://api.github.com/repos/grosser/parallel/deployments","created_at":"2009-08-11T18:54:16Z","updated_at":"2022-05-06T03:26:07Z","pushed_at":"2022-03-26T19:14:21Z","git_url":"git://github.com/grosser/parallel.git","ssh_url":"git@github.com:grosser/parallel.git","clone_url":"https://github.com/grosser/parallel.git","svn_url":"https://github.com/grosser/parallel","homepage":null,"size":770,"stargazers_count":3850,"watchers_count":3850,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":254,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":33,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":254,"open_issues":33,"watchers":3850,"default_branch":"master","score":1.0}]}'
  recorded_at: Sat, 07 May 2022 02:15:15 GMT
recorded_with: VCR 6.1.0
