---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/atlassian-jwt.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"f1f92d2198ac09b05b1c1f605bc93ada"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"atlassian-jwt","downloads":13464610,"version":"0.2.1","version_created_at":"2021-08-13T00:04:13.459Z","version_downloads":562877,"platform":"ruby","authors":"Spike
        Ilacqua, Seb Ruiz, Ngoc Dao","info":"This gem simplifies generating the claims
        needed to authenticate with the Atlassian Connect REST APIs.","licenses":["Apache
        2.0"],"metadata":{},"yanked":false,"sha":"2fd2d87418773f2e140c038cb22e049069708aff2bd0a423a7e1740574e97823","project_uri":"https://rubygems.org/gems/atlassian-jwt","gem_uri":"https://rubygems.org/gems/atlassian-jwt-0.2.1.gem","homepage_uri":"https://bitbucket.org/atlassian/atlassian-jwt-ruby","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/atlassian-jwt/0.2.1","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"json","requirements":"~\u003e
        2.2"},{"name":"rake","requirements":"~\u003e 12.3"},{"name":"rspec","requirements":"~\u003e
        3.8"}],"runtime":[{"name":"jwt","requirements":"~\u003e 2.1"}]}}'
  recorded_at: Sun, 22 May 2022 00:02:21 GMT
recorded_with: VCR 6.1.0
