---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/journey.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"6e739c7fcab3a8ab03675259a0c58c80"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"journey","downloads":29340794,"version":"1.0.4","version_created_at":"2012-06-14T21:18:48.707Z","version_downloads":27478813,"platform":"ruby","authors":"Aaron
        Patterson","info":"Journey is a router.  It routes requests.","licenses":null,"metadata":{},"yanked":false,"sha":"7454b8612530784000fbb17ea2df749a71b70702a0ac8ebef4a1e7f05aecc10f","project_uri":"https://rubygems.org/gems/journey","gem_uri":"https://rubygems.org/gems/journey-1.0.4.gem","homepage_uri":"http://github.com/rails/journey","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/journey/1.0.4","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"hoe","requirements":"~\u003e
        2.13"},{"name":"json","requirements":"\u003e= 0"},{"name":"minitest","requirements":"~\u003e
        2.11"},{"name":"racc","requirements":"\u003e= 1.4.6"},{"name":"rdoc","requirements":"~\u003e
        3.11"},{"name":"rdoc","requirements":"~\u003e 3.10"}],"runtime":[]}}'
  recorded_at: Sat, 07 May 2022 04:03:09 GMT
recorded_with: VCR 6.1.0
