---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/parallel.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.203.190.11:443
      Etag:
      - '"6f45f62c13e9718715b356bc06f21233"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"parallel","downloads":244443773,"version":"1.22.1","version_created_at":"2022-03-25T23:34:40.553Z","version_downloads":6665623,"platform":"ruby","authors":"Michael
        Grosser","info":"Run any kind of code in parallel processes","licenses":["MIT"],"metadata":{"wiki_uri":"https://github.com/grosser/parallel/wiki","bug_tracker_uri":"https://github.com/grosser/parallel/issues","source_code_uri":"https://github.com/grosser/parallel/tree/v1.22.1","documentation_uri":"https://github.com/grosser/parallel/blob/v1.22.1/Readme.md"},"yanked":false,"sha":"ebdf1f0c51f182df38522f70ba770214940bef998cdb6e00f36492b29699761f","project_uri":"https://rubygems.org/gems/parallel","gem_uri":"https://rubygems.org/gems/parallel-1.22.1.gem","homepage_uri":"https://github.com/grosser/parallel","wiki_uri":"https://github.com/grosser/parallel/wiki","documentation_uri":"https://github.com/grosser/parallel/blob/v1.22.1/Readme.md","mailing_list_uri":null,"source_code_uri":"https://github.com/grosser/parallel/tree/v1.22.1","bug_tracker_uri":"https://github.com/grosser/parallel/issues","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Sat, 07 May 2022 02:11:50 GMT
recorded_with: VCR 6.1.0
