---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"fa851e83ba69a9044d07eb150b4cc762"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails","downloads":349941802,"version":"7.0.3","version_created_at":"2022-05-09T13:41:57.714Z","version_downloads":150172,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v7.0.3","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v7.0.3","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v7.0.3/","rubygems_mfa_required":"true"},"yanked":false,"sha":"7e0c3e1a97551eef4ae6d7e7fdb5109f72f6a451deab9a26fb6a6ab8ff82ae1d","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-7.0.3.gem","homepage_uri":"https://rubyonrails.org","wiki_uri":null,"documentation_uri":"https://api.rubyonrails.org/v7.0.3/","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","source_code_uri":"https://github.com/rails/rails/tree/v7.0.3","bug_tracker_uri":"https://github.com/rails/rails/issues","changelog_uri":"https://github.com/rails/rails/releases/tag/v7.0.3","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        7.0.3"},{"name":"actionmailbox","requirements":"= 7.0.3"},{"name":"actionmailer","requirements":"=
        7.0.3"},{"name":"actionpack","requirements":"= 7.0.3"},{"name":"actiontext","requirements":"=
        7.0.3"},{"name":"actionview","requirements":"= 7.0.3"},{"name":"activejob","requirements":"=
        7.0.3"},{"name":"activemodel","requirements":"= 7.0.3"},{"name":"activerecord","requirements":"=
        7.0.3"},{"name":"activestorage","requirements":"= 7.0.3"},{"name":"activesupport","requirements":"=
        7.0.3"},{"name":"bundler","requirements":"\u003e= 1.15.0"},{"name":"railties","requirements":"=
        7.0.3"}]}}'
  recorded_at: Sun, 22 May 2022 10:52:09 GMT
- request:
    method: head
    uri: https://github.com/rails/rails/tree/v7.0.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"42f790aeac2ec34f330d31d4e8d4c78b"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 May 2022 10:52:10 GMT
recorded_with: VCR 6.1.0
