---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rainbow.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"05ef8db8b6f65c115e3ac4f7c30fab59"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rainbow","downloads":231783428,"version":"3.1.1","version_created_at":"2022-01-11T09:11:07.407Z","version_downloads":13630819,"platform":"ruby","authors":"Marcin
        Kulik, Olle Jonsson","info":"Colorize printed text on ANSI terminals","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"039491aa3a89f42efa1d6dec2fc4e62ede96eb6acd95e52f1ad581182b79bc6a","project_uri":"https://rubygems.org/gems/rainbow","gem_uri":"https://rubygems.org/gems/rainbow-3.1.1.gem","homepage_uri":"https://github.com/sickill/rainbow","wiki_uri":"","documentation_uri":"https://www.rubydoc.info/gems/rainbow/3.1.1","mailing_list_uri":"","source_code_uri":"http://github.com/sickill/rainbow","bug_tracker_uri":"","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        1.3, \u003c 3"}],"runtime":[]}}'
  recorded_at: Sat, 07 May 2022 02:17:12 GMT
recorded_with: VCR 6.1.0
