---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=repo:whitequark/ast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1651889678'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"id":9156271,"node_id":"MDEwOlJlcG9zaXRvcnk5MTU2Mjcx","name":"ast","full_name":"whitequark/ast","private":false,"owner":{"login":"whitequark","id":54771,"node_id":"MDQ6VXNlcjU0Nzcx","avatar_url":"https://avatars.githubusercontent.com/u/54771?v=4","gravatar_id":"","url":"https://api.github.com/users/whitequark","html_url":"https://github.com/whitequark","followers_url":"https://api.github.com/users/whitequark/followers","following_url":"https://api.github.com/users/whitequark/following{/other_user}","gists_url":"https://api.github.com/users/whitequark/gists{/gist_id}","starred_url":"https://api.github.com/users/whitequark/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/whitequark/subscriptions","organizations_url":"https://api.github.com/users/whitequark/orgs","repos_url":"https://api.github.com/users/whitequark/repos","events_url":"https://api.github.com/users/whitequark/events{/privacy}","received_events_url":"https://api.github.com/users/whitequark/received_events","type":"User","site_admin":false},"html_url":"https://github.com/whitequark/ast","description":"A
        library for working with Abstract Syntax Trees.","fork":false,"url":"https://api.github.com/repos/whitequark/ast","forks_url":"https://api.github.com/repos/whitequark/ast/forks","keys_url":"https://api.github.com/repos/whitequark/ast/keys{/key_id}","collaborators_url":"https://api.github.com/repos/whitequark/ast/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/whitequark/ast/teams","hooks_url":"https://api.github.com/repos/whitequark/ast/hooks","issue_events_url":"https://api.github.com/repos/whitequark/ast/issues/events{/number}","events_url":"https://api.github.com/repos/whitequark/ast/events","assignees_url":"https://api.github.com/repos/whitequark/ast/assignees{/user}","branches_url":"https://api.github.com/repos/whitequark/ast/branches{/branch}","tags_url":"https://api.github.com/repos/whitequark/ast/tags","blobs_url":"https://api.github.com/repos/whitequark/ast/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/whitequark/ast/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/whitequark/ast/git/refs{/sha}","trees_url":"https://api.github.com/repos/whitequark/ast/git/trees{/sha}","statuses_url":"https://api.github.com/repos/whitequark/ast/statuses/{sha}","languages_url":"https://api.github.com/repos/whitequark/ast/languages","stargazers_url":"https://api.github.com/repos/whitequark/ast/stargazers","contributors_url":"https://api.github.com/repos/whitequark/ast/contributors","subscribers_url":"https://api.github.com/repos/whitequark/ast/subscribers","subscription_url":"https://api.github.com/repos/whitequark/ast/subscription","commits_url":"https://api.github.com/repos/whitequark/ast/commits{/sha}","git_commits_url":"https://api.github.com/repos/whitequark/ast/git/commits{/sha}","comments_url":"https://api.github.com/repos/whitequark/ast/comments{/number}","issue_comment_url":"https://api.github.com/repos/whitequark/ast/issues/comments{/number}","contents_url":"https://api.github.com/repos/whitequark/ast/contents/{+path}","compare_url":"https://api.github.com/repos/whitequark/ast/compare/{base}...{head}","merges_url":"https://api.github.com/repos/whitequark/ast/merges","archive_url":"https://api.github.com/repos/whitequark/ast/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/whitequark/ast/downloads","issues_url":"https://api.github.com/repos/whitequark/ast/issues{/number}","pulls_url":"https://api.github.com/repos/whitequark/ast/pulls{/number}","milestones_url":"https://api.github.com/repos/whitequark/ast/milestones{/number}","notifications_url":"https://api.github.com/repos/whitequark/ast/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/whitequark/ast/labels{/name}","releases_url":"https://api.github.com/repos/whitequark/ast/releases{/id}","deployments_url":"https://api.github.com/repos/whitequark/ast/deployments","created_at":"2013-04-01T21:15:41Z","updated_at":"2022-02-18T11:28:16Z","pushed_at":"2021-11-17T11:25:11Z","git_url":"git://github.com/whitequark/ast.git","ssh_url":"git@github.com:whitequark/ast.git","clone_url":"https://github.com/whitequark/ast.git","svn_url":"https://github.com/whitequark/ast","homepage":null,"size":157,"stargazers_count":187,"watchers_count":187,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":true,"forks_count":20,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":20,"open_issues":4,"watchers":187,"default_branch":"master","score":1.0}]}'
  recorded_at: Sat, 07 May 2022 02:13:38 GMT
recorded_with: VCR 6.1.0
