---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=repo:whitequark/parser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1651891806'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"id":9119875,"node_id":"MDEwOlJlcG9zaXRvcnk5MTE5ODc1","name":"parser","full_name":"whitequark/parser","private":false,"owner":{"login":"whitequark","id":54771,"node_id":"MDQ6VXNlcjU0Nzcx","avatar_url":"https://avatars.githubusercontent.com/u/54771?v=4","gravatar_id":"","url":"https://api.github.com/users/whitequark","html_url":"https://github.com/whitequark","followers_url":"https://api.github.com/users/whitequark/followers","following_url":"https://api.github.com/users/whitequark/following{/other_user}","gists_url":"https://api.github.com/users/whitequark/gists{/gist_id}","starred_url":"https://api.github.com/users/whitequark/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/whitequark/subscriptions","organizations_url":"https://api.github.com/users/whitequark/orgs","repos_url":"https://api.github.com/users/whitequark/repos","events_url":"https://api.github.com/users/whitequark/events{/privacy}","received_events_url":"https://api.github.com/users/whitequark/received_events","type":"User","site_admin":false},"html_url":"https://github.com/whitequark/parser","description":"A
        Ruby parser.","fork":false,"url":"https://api.github.com/repos/whitequark/parser","forks_url":"https://api.github.com/repos/whitequark/parser/forks","keys_url":"https://api.github.com/repos/whitequark/parser/keys{/key_id}","collaborators_url":"https://api.github.com/repos/whitequark/parser/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/whitequark/parser/teams","hooks_url":"https://api.github.com/repos/whitequark/parser/hooks","issue_events_url":"https://api.github.com/repos/whitequark/parser/issues/events{/number}","events_url":"https://api.github.com/repos/whitequark/parser/events","assignees_url":"https://api.github.com/repos/whitequark/parser/assignees{/user}","branches_url":"https://api.github.com/repos/whitequark/parser/branches{/branch}","tags_url":"https://api.github.com/repos/whitequark/parser/tags","blobs_url":"https://api.github.com/repos/whitequark/parser/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/whitequark/parser/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/whitequark/parser/git/refs{/sha}","trees_url":"https://api.github.com/repos/whitequark/parser/git/trees{/sha}","statuses_url":"https://api.github.com/repos/whitequark/parser/statuses/{sha}","languages_url":"https://api.github.com/repos/whitequark/parser/languages","stargazers_url":"https://api.github.com/repos/whitequark/parser/stargazers","contributors_url":"https://api.github.com/repos/whitequark/parser/contributors","subscribers_url":"https://api.github.com/repos/whitequark/parser/subscribers","subscription_url":"https://api.github.com/repos/whitequark/parser/subscription","commits_url":"https://api.github.com/repos/whitequark/parser/commits{/sha}","git_commits_url":"https://api.github.com/repos/whitequark/parser/git/commits{/sha}","comments_url":"https://api.github.com/repos/whitequark/parser/comments{/number}","issue_comment_url":"https://api.github.com/repos/whitequark/parser/issues/comments{/number}","contents_url":"https://api.github.com/repos/whitequark/parser/contents/{+path}","compare_url":"https://api.github.com/repos/whitequark/parser/compare/{base}...{head}","merges_url":"https://api.github.com/repos/whitequark/parser/merges","archive_url":"https://api.github.com/repos/whitequark/parser/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/whitequark/parser/downloads","issues_url":"https://api.github.com/repos/whitequark/parser/issues{/number}","pulls_url":"https://api.github.com/repos/whitequark/parser/pulls{/number}","milestones_url":"https://api.github.com/repos/whitequark/parser/milestones{/number}","notifications_url":"https://api.github.com/repos/whitequark/parser/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/whitequark/parser/labels{/name}","releases_url":"https://api.github.com/repos/whitequark/parser/releases{/id}","deployments_url":"https://api.github.com/repos/whitequark/parser/deployments","created_at":"2013-03-30T18:14:41Z","updated_at":"2022-05-03T02:30:56Z","pushed_at":"2022-04-12T17:22:26Z","git_url":"git://github.com/whitequark/parser.git","ssh_url":"git@github.com:whitequark/parser.git","clone_url":"https://github.com/whitequark/parser.git","svn_url":"https://github.com/whitequark/parser","homepage":null,"size":3925,"stargazers_count":1405,"watchers_count":1405,"language":"Yacc","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":true,"forks_count":188,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":17,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":188,"open_issues":17,"watchers":1405,"default_branch":"master","score":1.0}]}'
  recorded_at: Sat, 07 May 2022 02:49:06 GMT
recorded_with: VCR 6.1.0
