---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=repo:sickill/rainbow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1651889941'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"id":69648,"node_id":"MDEwOlJlcG9zaXRvcnk2OTY0OA==","name":"rainbow","full_name":"sickill/rainbow","private":false,"owner":{"login":"sickill","id":17589,"node_id":"MDQ6VXNlcjE3NTg5","avatar_url":"https://avatars.githubusercontent.com/u/17589?v=4","gravatar_id":"","url":"https://api.github.com/users/sickill","html_url":"https://github.com/sickill","followers_url":"https://api.github.com/users/sickill/followers","following_url":"https://api.github.com/users/sickill/following{/other_user}","gists_url":"https://api.github.com/users/sickill/gists{/gist_id}","starred_url":"https://api.github.com/users/sickill/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sickill/subscriptions","organizations_url":"https://api.github.com/users/sickill/orgs","repos_url":"https://api.github.com/users/sickill/repos","events_url":"https://api.github.com/users/sickill/events{/privacy}","received_events_url":"https://api.github.com/users/sickill/received_events","type":"User","site_admin":false},"html_url":"https://github.com/sickill/rainbow","description":"Ruby
        gem for colorizing printed text on ANSI terminals","fork":false,"url":"https://api.github.com/repos/sickill/rainbow","forks_url":"https://api.github.com/repos/sickill/rainbow/forks","keys_url":"https://api.github.com/repos/sickill/rainbow/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sickill/rainbow/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sickill/rainbow/teams","hooks_url":"https://api.github.com/repos/sickill/rainbow/hooks","issue_events_url":"https://api.github.com/repos/sickill/rainbow/issues/events{/number}","events_url":"https://api.github.com/repos/sickill/rainbow/events","assignees_url":"https://api.github.com/repos/sickill/rainbow/assignees{/user}","branches_url":"https://api.github.com/repos/sickill/rainbow/branches{/branch}","tags_url":"https://api.github.com/repos/sickill/rainbow/tags","blobs_url":"https://api.github.com/repos/sickill/rainbow/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sickill/rainbow/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sickill/rainbow/git/refs{/sha}","trees_url":"https://api.github.com/repos/sickill/rainbow/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sickill/rainbow/statuses/{sha}","languages_url":"https://api.github.com/repos/sickill/rainbow/languages","stargazers_url":"https://api.github.com/repos/sickill/rainbow/stargazers","contributors_url":"https://api.github.com/repos/sickill/rainbow/contributors","subscribers_url":"https://api.github.com/repos/sickill/rainbow/subscribers","subscription_url":"https://api.github.com/repos/sickill/rainbow/subscription","commits_url":"https://api.github.com/repos/sickill/rainbow/commits{/sha}","git_commits_url":"https://api.github.com/repos/sickill/rainbow/git/commits{/sha}","comments_url":"https://api.github.com/repos/sickill/rainbow/comments{/number}","issue_comment_url":"https://api.github.com/repos/sickill/rainbow/issues/comments{/number}","contents_url":"https://api.github.com/repos/sickill/rainbow/contents/{+path}","compare_url":"https://api.github.com/repos/sickill/rainbow/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sickill/rainbow/merges","archive_url":"https://api.github.com/repos/sickill/rainbow/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sickill/rainbow/downloads","issues_url":"https://api.github.com/repos/sickill/rainbow/issues{/number}","pulls_url":"https://api.github.com/repos/sickill/rainbow/pulls{/number}","milestones_url":"https://api.github.com/repos/sickill/rainbow/milestones{/number}","notifications_url":"https://api.github.com/repos/sickill/rainbow/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sickill/rainbow/labels{/name}","releases_url":"https://api.github.com/repos/sickill/rainbow/releases{/id}","deployments_url":"https://api.github.com/repos/sickill/rainbow/deployments","created_at":"2008-10-30T09:34:00Z","updated_at":"2022-05-02T16:16:24Z","pushed_at":"2022-01-30T10:26:31Z","git_url":"git://github.com/sickill/rainbow.git","ssh_url":"git@github.com:sickill/rainbow.git","clone_url":"https://github.com/sickill/rainbow.git","svn_url":"https://github.com/sickill/rainbow","homepage":"","size":210,"stargazers_count":730,"watchers_count":730,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":65,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":5,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"topics":["colorization","gem","ruby"],"visibility":"public","forks":65,"open_issues":5,"watchers":730,"default_branch":"master","score":1.0}]}'
  recorded_at: Sat, 07 May 2022 02:18:01 GMT
recorded_with: VCR 6.1.0
